.sidebar {
  padding: 46px 44px 0 40px;
  position: fixed;
  top: 161px;
  left: 0;
  width: 250px;
  height: 100vh;
  border-radius: 8px 8px 0 0;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.sidebar-icon-task {
  font-family: "icon"; /* Use the font-family you defined */
  content: "\E110"; /* Replace with the Unicode character of your icon */
  color: #ff0000; /* Set the color to red (you can use any valid CSS color value) */
  /* Additional styles for your icon, like size, etc. */
}
.logo {
  position: fixed;

  top: 47px;
  color: #fff;
  font-family: "Ma Shan Zheng", cursive;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
}
